<form nz-form [formGroup]="form" class="w-100">
  <div nz-row [nzGutter]="16">
    <ng-container *ngFor="let field of config.fields">
      <!-- Header -->
      <div *ngIf="field.type === 'header'" nz-col [nzSpan]="24">
        <h3 nz-typography>{{ field.label }}</h3>
        <nz-divider></nz-divider>
      </div>

      <!-- Footer -->
      <div *ngIf="field.type === 'footer'" nz-col [nzSpan]="24">
        <nz-divider></nz-divider>
        <p>{{ field.label }}</p>
      </div>

      <!-- Blank -->
      <div
        *ngIf="field.type === 'blank'"
        nz-col
        [nzSpan]="field.col || 6"
      ></div>

      <!-- Input/Textarea/Select -->
      <div
        *ngIf="
          field.type === 'text' ||
          field.type === 'number' ||
          field.type === 'date' ||
          field.type === 'textarea' ||
          field.type === 'select' ||
          field.type === 'password'
        "
        nz-col
        [nzSpan]="field.col || 6"
      >
        <nz-form-item>
          <nz-form-label [nzSpan]="24"
            >{{ field.label }}
            <div
              *ngIf="(field.validators ?? []).length > 0"
              class="text-danger text-sm"
            >
              &thinsp;*
            </div>
          </nz-form-label>

          <nz-form-control
            [nzValidateStatus]="getValidateStatus(field.name)"
            [nzErrorTip]="
              field.showErrorTip !== false ? getErrorTip(field) : ''
            "
          >
            <!-- input -->
            <input
              *ngIf="
                field.type === 'text' ||
                field.type === 'number' ||
                field.type === 'date'
              "
              nz-input
              [type]="field.type"
              [placeholder]="field.placeholder || ''"
              [formControlName]="field.name"
            />

            <!-- Input Password -->
            <div *ngIf="field.type === 'password'">
              <nz-input-group [nzSuffix]="suffixTemplate">
                <input
                  [type]="passwordVisible ? 'text' : 'password'"
                  nz-input
                  [placeholder]="field.placeholder || ''"
                  [formControlName]="field.name"
                />
              </nz-input-group>
              <ng-template #suffixTemplate>
                <nz-icon
                  class="ant-input-password-icon"
                  [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                  (click)="passwordVisible = !passwordVisible"
                />
              </ng-template>
            </div>

            <!-- textarea -->
            <textarea
              *ngIf="field.type === 'textarea'"
              nz-input
              [placeholder]="field.placeholder || ''"
              [formControlName]="field.name"
              rows="4"
            ></textarea>

            <!-- select -->
            <nz-select
              *ngIf="field.type === 'select'"
              [formControlName]="field.name"
              [nzPlaceHolder]="field.placeholder || ''"
            >
              <nz-option
                *ngFor="let opt of field.options"
                [nzValue]="opt.value"
                [nzLabel]="opt.label"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </ng-container>

    <!-- Buttons -->
    <nz-row
      class="mt-4 d-flex w-100"
      [ngClass]="{
        'justify-content-start': config.alignButtons === 'start',
        'justify-content-center': config.alignButtons === 'center',
        'justify-content-end':
          !config.alignButtons || config.alignButtons === 'end'
      }"
    >
      <button
        *ngFor="let btn of config.buttons"
        nz-button
        [nzType]="btn.color === 'primary' ? 'primary' : 'default'"
        [nzDanger]="btn.color === 'danger'"
        (click)="onClick(btn.action, btn.requiresValidation)"
        class="me-2"
      >
        {{ btn.label }}
      </button>
    </nz-row>
  </div>
</form>
