/* You can add global styles to this file, and also import other style files */

:host {
  background-color: var(--body-background);
}

.card {
  background-color: var(--card-background);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.alert-danger {
  background-color: var(--color-danger);
  color: white;
  padding: var(--spacing-sm);
  border-radius: var(--border-radius);
}

.btn {
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.btn-primary {
  background-color: var(--color-primary);
  color: #fff;
}

.btn-warning {
  background-color: var(--color-waring);
  color: #fff;
}

.btn-success {
  background-color: var(--color-success);
  color: #fff;
}

.btn-danger {
  background-color: var(--color-danger);
  color: #fff;
}
