@import "../node_modules/ng-zorro-antd/ng-zorro-antd.min.css";
@primary-color: #0d47a1;
@success-color: #2e7d32;
@error-color: #c62828;
@warning-color: #f9a825;
@info-color: #0288d1;

@body-background: #f5f7fa;
@card-background: #ffffff;
@border-radius-base: 12px;

:root {
  --color-primary: @primary-color;
  --color-success: @success-color;
  --color-danger: @error-color;
  --color-warning: @warning-color;
  --color-info: @info-color;

  --body-background: @body-background;
  --card-background: @card-background;
  --border-radius: 8px;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
}
